{
  "TEST_ADMIN_EMAIL": "your-admin@example.com",
  "TEST_ADMIN_PASSWORD": "your-admin-password",
  "TEST_STUDENT_EMAIL": "your-student@example.com",
  "TEST_STUDENT_PASSWORD": "your-student-password",
  "TEST_TEACHER_EMAIL": "your-teacher@example.com",
  "TEST_TEACHER_PASSWORD": "your-teacher-password"
}
